<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Edit project
				</div>
				<div class="panel-body" ng-if="!project.error">
					<form class="form-horizontal" role="form" name="form" method="POST" ng-submit="save()">
						<div ng-include="'build/views/project/form.html'"></div>
					</form>
				</div>
				<div class="panel-body" ng-if="project.error">			
					<div class="col-md-12">
						{{project.error}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>